body{
    background-color: #60B7B7FF
}

p{
    background-color: cornsilk;
    font-size: 20px;
    font-family: "American Typewriter";
}

.class1{
    background-color: #749F82;
    font-size: 20px;
    font-family: "Arial Black";
    color: antiquewhite;
}